---
// export const prerender = true;
import fetchApi from "../../lib/strapi";

// Import Custom Components
import Layout from "../../layouts/Layout.astro";
import RelatedService from "../../components/partials/service/RelatedService.astro";
import { service } from "../../store/service";

const locale = Astro.cookies.get("locale")?.value;

const urlParamsObject = {
  populate: {
    media: {
      populate: "*",
    },
    category: {
      populate: "*",
    },
  },
};

const servicesData: any = await fetchApi<any[]>({
  endpoint: "services", // the content type to fetch
  query: urlParamsObject, // the key to unwrap the response
  locale: locale,
});

const singlePageData: any = await fetchApi<any[]>({
  endpoint: "service-single-page", // the content type to fetch
  query: {
    populate: {
      list: {
        populate: "*",
      },
      serviceRequestBtn: {
        populate: "*",
      },
      allServiceBtn: {
        populate: "*",
      },
    },
  }, // the key to unwrap the response
  locale: locale,
});

const { slug } = Astro.params;

const singleService = servicesData.find(
  (page: any) => page?.attributes?.slug === slug
);

if (!singleService) return Astro.redirect("/404");
service.set(singleService?.attributes);

console.log(singleService?.attributes, "singleService");
---

<Layout title="Service Single Page">
  <section class="section hero v8">
    <div class="container-default w-container">
      <div class="w-layout-grid grid-2-columns grid-team-single">
        <div
          id="w-node-a419257f-c480-9677-8844-30dc8c206af8-c86ea1db"
          data-w-id="a419257f-c480-9677-8844-30dc8c206af8"
          style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
          class="card card-contact-info"
        >
          <div class="inner-container _400px---tablet">
            <h3 class="display-4">
              {singlePageData?.attributes?.sidebarTitle}
            </h3>

            <p class="mg-bottom-24px">
              {singlePageData?.attributes?.sidebarDesc}
            </p>
          </div>

          <div
            class="w-layout-grid grid-1-column gap-row-16px team-contact-grid"
          >
            {
              singlePageData?.attributes?.list?.map(
                (item: any, index: number) => (
                  <div
                    id="w-node-_04f4dc10-279d-fb66-c092-06f10597e870-c86ea1db"
                    data-w-id="04f4dc10-279d-fb66-c092-06f10597e870"
                    class="card-link-icon contact-info w-inline-block"
                  >
                    <div
                      class={`card-picture circle-icon-contact ${locale === "ar" ? "ml-4" : "mg-right-16px"}`}
                    >
                      {index === 0 && (
                        <img
                          src={`https://assets-global.website-files.com/65e9eb27ad372f914ea0e9a7/65e9eb27ad372f914ea0eca9_24.svg`}
                          width="38"
                          height="38"
                          alt=""
                          class="card-image size-40px"
                        />
                      )}

                      {index === 1 && (
                        <img
                          src="https://assets-global.website-files.com/65e9eb27ad372f914ea0e9a7/65e9eb27ad372f914ea0ecac_25.svg"
                          alt=""
                          class="card-image size-40px"
                          style="transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1.001) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        />
                      )}

                      {index === 2 && (
                        <img
                          src="https://assets-global.website-files.com/65e9eb27ad372f914ea0e9a7/65e9eb27ad372f914ea0ecae_26.svg"
                          alt=""
                          class="card-image size-40px"
                          style="transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1.001) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        />
                      )}

                      {index === 3 && (
                        <img
                          src="https://assets-global.website-files.com/65e9eb27ad372f914ea0e9a7/65e9eb27ad372f914ea0ecad_27.svg"
                          alt=""
                          class="card-image size-40px"
                          style="transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1.001) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        />
                      )}

                      {index === 4 && (
                        <img
                          src="https://assets-global.website-files.com/65e9eb27ad372f914ea0e9a7/65e9eb27ad372f914ea0ecaf_28.svg"
                          alt=""
                          class="card-image size-40px"
                        />
                      )}

                      {index === 5 && (
                        <img
                          src="https://assets-global.website-files.com/65e9eb27ad372f914ea0e9a7/65e9eb27ad372f914ea0ecb0_29.svg"
                          alt=""
                          class="card-image size-40px"
                        />
                      )}
                    </div>

                    <div>
                      <div class="card-title text-100 text-break-all medium">
                        {item?.title}
                      </div>
                    </div>
                  </div>
                )
              )
            }
          </div>

          <div class="mg-top-32px">
            <button
              data-w-id="5054fd6b-35a2-c60b-2b6d-752bf8dfeebd"
              class="service-registration badge-primary w-button"
              >{singlePageData?.attributes?.serviceRequestBtn?.title}<span
                class={`line-rounded-icon link-icon-right mr-2 ${locale === "ar" ? "rotate-180" : ""}`}
                ></span
              >
            </button>
          </div>
        </div>

        <div
          id="w-node-_3e25c3f2-d084-82d1-25f4-710e0b821ce7-c86ea1db"
          class="divider _64px show-in-tablet"
        >
        </div>

        <div
          id="w-node-_8cdca2b5-ab3c-4767-be55-e4c9df4efc6f-c86ea1db"
          data-w-id="8cdca2b5-ab3c-4767-be55-e4c9df4efc6f"
          style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
          class="inner-container _794px _100---tablet"
        >
          <div class="card-team-single">
            <div class="card-team-single---content">
              <h1 class="display-2 mg-bottom-12px">
                {singleService?.attributes?.title}
              </h1>

              <p class="mg-bottom-24px">
                {singleService?.attributes?.desc}
              </p>

              <div class="flex-horizontal start flex-wrap---gap-12px">
                <a
                  href="/services-categories/small-farmers"
                  class="badge-v1 badge-link w-inline-block"
                  ><img
                    src="https://assets-global.website-files.com/65a12e04c59a1723c86ea149/65dd3d4bee3822b9d04e4902_22.svg"
                    alt="licenses and financing ."
                    class="image-2"
                  /><div class="text-block-2">
                    {
                      singleService?.attributes?.category?.data?.attributes
                        .title
                    }
                  </div></a
                ><div class="badge-v1 mg-bottom-20px---mbp">
                  {singleService?.attributes?.type}
                </div><div class="badge-v1 mg-bottom-20px---mbp">
                  {singleService?.attributes?.workingDay}
                </div>
              </div>
            </div>

            <div class="mg-bottom-24-mbl">
              <div class="mg-right-32px mg-right-0-mbl">
                <div class="image-team-wrapper">
                  <img
                    alt="licenses and financing ."
                    src="https://assets-global.website-files.com/65a12e04c59a1723c86ea149/65cd57ee40b595e81966f829_Untitled%20design%20(40).png"
                    width="271"
                    class="c3 c3-desktop"
                    data-xblocker="passed"
                    style="visibility: visible;"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="divider _64px"></div>

          <div class="flex-icon---rich-text">
            <div class="mg-bottom--16px">
              <div class="rich-text-v2 w-richtext">
                <ul role="list" style="list-style-type: disc">
                  {
                    singleService?.attributes?.body
                      ?.split("-")
                      .map((item: string, index: number) => (
                        <Fragment key={index}>
                          {item !== "" && <li>{item}</li>}
                        </Fragment>
                      ))
                  }
                </ul>

                <h3></h3>
              </div>
            </div>
          </div>

          <div class="divider _64px w-condition-invisible"></div>

          <div class="w-condition-invisible">
            <div class="mg-bottom-32px">
              <div class="flex-horizontal start gap-16px">
                <img
                  src="https://assets-global.website-files.com/65a12e04c59a1723c86ea0f8/65a12e04c59a1723c86ea1f8_icon-gallery-localfinder-x-webflow-template.svg"
                  alt="Icon Gallery - Localfinder X Webflow Template"
                  class="card-image size-40px"
                /><h2 class="display-2 mg-bottom-0">Projects gallery</h2>
              </div>
            </div>

            <div class="mg-image-left-56px">
              <div class="w-dyn-list">
                <div
                  role="list"
                  class="grid-2-columns projects-gallery-grid w-dyn-items w-dyn-hide"
                >
                </div><div class="empty-state w-dyn-empty">
                  <div>No items found.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divider"></div>
    </div>
  </section>

  <RelatedService
    title={singlePageData?.attributes?.serviceSectionTitle}
    btn={singlePageData?.attributes?.allServiceBtn}
  />
</Layout>

<script>
  import Cookies from "js-cookie";
  import { toast } from "react-toastify";

  const isloggedIn = Cookies.get("reef_token");
  const serviceBtn = document?.querySelector(".service-registration");

  const handleService = () => {
    if (isloggedIn) {
      window.location.href = "/service-registration";
    } else {
      toast.warn("Please login first", {
        position: "top-right",
        autoClose: 5000,
        hideProgressBar: false,
        closeOnClick: true,
        pauseOnHover: true,
        draggable: true,
        progress: undefined,
        theme: "colored",
      });

      setTimeout(() => {
        window.location.href = "/sign-in";
      }, 2000);
    }
  };

  serviceBtn?.addEventListener("click", handleService);
</script>
