---
import type Heading from "../../../interfaces/Heading";
import fetchApi from "../../../lib/strapi";

interface Props {
  fields: {
    heading: Heading;
  };
}

const {
  fields: { heading },
} = Astro.props;

const urlParamsObject = {
  populate: {
    media: {
      populate: "*",
    },
    logo: {
      populate: "*",
    },
    background: {
      populate: "*",
    },
    services: {
      populate: "*",
    },
    specialties: {
      populate: "*",
    },
  },
};

const locale = Astro.cookies.get("locale")?.value;

const categories: any = await fetchApi<any[]>({
  endpoint: "categories", // the content type to fetch
  query: urlParamsObject, // the key to unwrap the response
  locale: locale,
});
---

<div
  class="position-relative overflow-hidden newsection"
  style="margin-top: 28px;"
>
  <section class="section hero v2">
    <div class="container-default w-container">
      <div class="mg-bottom-40px-tablet mgboxehid">
        <div
          data-w-id="12d49549-d020-de1a-37a2-21e499fb0477"
          class="inner-container _630px center"
        >
          <div class="text-center">
            <img src="/images/1-19.svg" alt="" class="subtitle-icon" />

            <h1 class="display-1 mg-bottom-12px">
              {heading?.title}
            </h1>

            <div class="max-w-520px center">
              <p class="mg-bottom-24px newmg">
                {heading?.desc}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      data-w-id="12d49549-d020-de1a-37a2-21e499fb0486"
      class="about-box-wrapper"
    >
      <div class="container-default w-container">
        <div class="div-block-4">
          <div class="hero-v2-images-wrapper">
            <div class="w-layout-grid grid-3-columns hero-v2-grid-3-col">
              {
                categories?.slice(0, 3)?.map((cateogry: any, index: number) => (
                  <div
                    id="w-node-_12d49549-d020-de1a-37a2-21e499fb048b-99fb0473"
                    class={`hero-v2-image-box ${index === 1 ? "center" : ""}`}
                  >
                    <div
                      data-w-id="12d49549-d020-de1a-37a2-21e499fb048d"
                      class="feature-card"
                      style={`background-image: url(${cateogry?.attributes?.background?.image?.data?.attributes?.url}), linear-gradient(rgba(255, 255, 255, .02), rgba(255, 255, 255, 0))`}
                    >
                      <div class="feature-line" />

                      <div class="feature-heading">
                        <div class="icon-wrap">
                          <img
                            src={`${cateogry?.attributes?.logo?.image?.data?.attributes?.url}`}
                            loading="lazy"
                            width="22"
                            alt=""
                            class="feature-icon"
                          />

                          <img
                            src="/images/Icon-Blur.svg"
                            loading="lazy"
                            alt=""
                            class="icon-blur"
                          />
                        </div>

                        <div class="wrap-v-x-small">
                          <>
                            <div class="h6-heading">
                              {cateogry?.attributes?.title}
                            </div>
                            <p class="paragraph-regular">
                              {cateogry?.attributes?.desc}
                            </p>
                          </>
                        </div>
                      </div>
                    </div>
                  </div>
                ))
              }
            </div>

            <img
              src="/images/Untitled-design-15.svg"
              loading="eager"
              alt=""
              class="hero-v2-line-bg"
              data-xblocker="passed"
              style="visibility: visible;"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
