---
import type Link from "../../../interfaces/Link";
import fetchApi from "../../../lib/strapi";

interface Props {
  title: string;
  btn: Link;
}

const urlParamsObject = {
  populate: {
    media: {
      populate: "*",
    },
    category: {
      populate: "*",
    },
  },
};

const locale = Astro.cookies.get("locale")?.value;
const servicesData: any = await fetchApi<any[]>({
  endpoint: "services", // the content type to fetch
  query: urlParamsObject, // the key to unwrap the response
  locale: locale,
});

const { title, btn } = Astro.props;
---

<section class="section pd-80px pd-top-0px">
  <div class="container-default w-container">
    <div>
      <div class="w-layout-grid grid-2-columns title-and-btn center---tablet">
        <h2
          id="w-node-_8bc4e8fb-5485-9d8d-1818-2e35d9822c58-c86ea1db"
          class="display-2 mg-bottom-0 moreservicesb"
        >
          {title}
        </h2><div
          id="w-node-_6c264b86-38a0-5827-28c6-096c2eaf473b-c86ea1db"
          class="calltoactionphone2 desktopc"
        >
          <a href="/ourservices" class="btn-secondary w-button">{btn?.title}</a>
        </div>
      </div>

      <div
        data-w-id="4ef36aa9-69ab-043c-c626-baafa095a582"
        class="w-dyn-list"
        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
      >
        <div
          role="list"
          class="grid-3-columns gap-row-32px servhome w-dyn-items"
        >
          {
            servicesData.map((item: any, index: number) => (
              <Fragment key={index}>
                <div role="listitem" class="w-dyn-item">
                  <a
                    data-w-id="4ef36aa9-69ab-043c-c626-baafa095a585"
                    href={`/services/${item.attributes.slug}`}
                    class="card card-team-member w-inline-block"
                  >
                    <>
                      <div class="card-picture card-team-member---image">
                        <div
                          class="lottie-animation"
                          data-w-id="ecc40607-317a-e6f6-9d86-6e59c07a54fb"
                          data-animation-type="lottie"
                          data-src="/documents/Animation---1707959104600.json"
                          data-loop="1"
                          data-direction="1"
                          data-autoplay="1"
                          data-is-ix2-target="0"
                          data-renderer="svg"
                          data-default-duration="9.366666666666667"
                          data-duration="0"
                        />
                      </div>
                      <div class="pd---content-inside-card card-team-member---content">
                        <>
                          <div class="flex-horizontal space-between align-top">
                            <>
                              <div class="inner-container _350px---mbl">
                                <>
                                  <h2 class="mg-bottom-6px display-4">
                                    {item.attributes.title}
                                  </h2>
                                  <p class="paragraph-5 paragraph-445">
                                    {item.attributes.desc}
                                  </p>
                                </>
                              </div>
                              <div class="mg-left-6px">
                                <div
                                  class="btn-circle-wrapper"
                                  style="color: rgb(0, 64, 79); border-color: rgb(0, 64, 79); background-color: rgb(255, 255, 255);"
                                >
                                  <div class="line-rounded-icon">
                                    <strong></strong>
                                  </div>
                                </div>
                              </div>
                            </>
                          </div>

                          <div class="flex-horizontal start flex-wrap---gap-12px">
                            <>
                              <div class="badge-v1">
                                <div>{item.attributes.workingDay}</div>
                              </div>
                              <div class="badge-v1">{item.attributes.type}</div>
                            </>
                          </div>
                        </>
                      </div>
                    </>
                  </a>
                </div>
              </Fragment>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
