---
import type Link from "../../../interfaces/Link";

interface Props {
  fields: {
    subtitle: string;
    title: string;
    desc: string;
    menu: Array<Link>;
  };
}

const {
  fields: { subtitle, title, desc, menu },
} = Astro.props;
---

<section class="section-7 hero v6 overflow-visible">
  <div class="container-default-55 w-container">
    <div
      data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea17"
      class="card5 features-hero"
      style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
    >
      <div class="position-relative z-index-1">
        <div class="inner-container _696px center">
          <div class="text-center-3">
            <div class="mg-bottom-18px-2">
              <div
                data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea1c"
                class="text-405 bold color-accent-1 text-uppercase"
                style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
              >
                {subtitle}
              </div>
            </div><h1
              data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea1e"
              class="display-7 color-neutral-100 mg-bottom-12px"
              style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
            >
              {title}
            </h1><p
              data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea20"
              class="color-neutral-801 mg-bottom-0"
              style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
            >
              {desc}
            </p>
          </div>
        </div>
      </div><div
        data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea22"
        class="position-absolute card-features-hero-shape---01"
        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
      >
      </div><div
        data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea23"
        class="position-absolute card-features-hero-shape---02"
        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
      >
      </div><div
        data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea24"
        class="position-absolute card-features-hero-shape---03"
        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
      >
      </div><div
        data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea25"
        class="position-absolute card-features-hero-shape---04"
        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
      >
      </div>
    </div>

    <div
      data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea26"
      style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
    >
      <div class="features-navigation-wrapper">
        {
          menu?.map((item) => (
            <a
              href={item?.value}
              class="badge-secondary-4 feature-link w-inline-block"
            >
              <div>{item?.title}</div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
