---
import Markdown from "../../../components/features/Markdown";
import fetchApi from "../../../lib/strapi";
import MarkdownIt from "markdown-it";
const md = new MarkdownIt();
interface Props {
  fields: {
    title: string;
  };
}

const urlParamsObject = {
  populate: {
    media: {
      populate: "*",
    },
  },
};

const locale = Astro.cookies.get("locale")?.value;
const memberData: any = await fetchApi<any[]>({
  endpoint: "members", // the content type to fetch
  query: urlParamsObject, // the key to unwrap the response
  locale: locale
});

const CEO = memberData.find(
  (item: any) =>
    item?.attributes?.role.includes("CEO") ||
    item?.attributes?.role.includes("المدير التنفيذي")
);

console.log(CEO?.attributes?.body[0].children, "CEO?.attributes?.body");

const {
  fields: { title },
} = Astro.props;
---

<section id="Board-of-Trustees" class="section section22">
  <div class="container-default w-container">
    <div
      id="w-node-b83a028e-5063-8402-5885-08b9d1c28b71-d1c28b6f"
      data-w-id="b83a028e-5063-8402-5885-08b9d1c28b71"
      class="mg-bottom-32px"
      style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
    >
      <div
        id="w-node-b83a028e-5063-8402-5885-08b9d1c28b72-d1c28b6f"
        class="inner-container _424px center"
      >
        <div
          id="w-node-b83a028e-5063-8402-5885-08b9d1c28b73-d1c28b6f"
          class="text-center"
        >
          <h2 class="display-2 mg-bottom-0">{title}</h2>
        </div>
      </div>

      <div class="w-layout-grid grid-3-columns-3 _1-col-tablet">
        {
          memberData
            .filter(
              (item: any) =>
                !item?.attributes?.role.includes("CEO") &&
                !item?.attributes?.role.includes("المدير التنفيذي")
            )
            ?.slice(0, 5)
            .map((item: any, index: number) => (
              <div
                id="w-node-b83a028e-5063-8402-5885-08b9d1c28b78-d1c28b6f"
                data-w-id="b83a028e-5063-8402-5885-08b9d1c28b78"
                class="card5 whats-included"
                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
              >
                <>
                  <img
                    src={`${item?.attributes?.media?.image?.data?.attributes?.url}`}
                    alt={item?.attributes?.media?.alt}
                    class="card-sales-home-image-2"
                    data-xblocker="passed"
                    style="visibility: visible;"
                  />
                  <div class="card-sales-home-content-2">
                    <>
                      <p class={`paragraph-3 ${ locale === "en" ? "text-sm" : "" }`}>{item?.attributes?.desc}</p>
                      <p class="paragraph-3 bortnmes">
                        {item?.attributes?.name}
                      </p>
                      <p class="paragraph-3 p3">{item?.attributes?.role}</p>
                    </>
                  </div>
                </>
              </div>
            ))
        }
      </div>
    </div>
  </div>
</section>

<section id="ceo" class="section-20 bg-neutral-200 overflow-hidden newcrd22">
  <div class="container-default-59 newcrd22 w-container">
    <div class="inner-container _600px---tablet center newcrd22">
      <div class="inner-container _500px---mbl center newcrd22">
        <div class="testimonials-main-wrapper">
          <div
            data-w-id="8dbe7f0a-8919-6352-7962-686c6654b8fb"
            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
            class="inner-container testimonials-slider"
          >
            <div
              data-delay="4000"
              data-animation="cross"
              class="slider-wrapper width-100 testimonial-slider w-slider"
              data-autoplay="false"
              data-easing="ease"
              style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
              data-hide-arrows="false"
              data-disable-swipe="false"
              data-w-id="8dbe7f0a-8919-6352-7962-686c6654b8fc"
              data-autoplay-limit="0"
              data-nav-spacing="3"
              data-duration="500"
              data-infinite="true"
              role="region"
              aria-label="carousel"
            >
              <div
                class="slider-mask-4 testimonial-slider-mask w-slider-mask"
                id="w-slider-mask-0"
              >
                <div
                  class="w-slide"
                  aria-label="1 of 1"
                  role="group"
                  style="transform: translateX(0px); opacity: 1;"
                >
                  <div
                    id="w-node-c355a98d-e29a-9953-4a64-57c738df2f9c-4ea0e9ec"
                    data-w-id="c355a98d-e29a-9953-4a64-57c738df2f9c"
                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="card5 whats-included"
                  >
                    <img
                      src={`${CEO?.attributes?.media?.image?.data?.attributes?.url}`}
                      alt=""
                      width="309"
                      class="card-sales-home-image-2"
                    /><div class="card-sales-home-content-2">
                      <p class="paragraph-3">{CEO?.attributes?.desc}</p><p
                        class="paragraph-3 bortnmes"
                      >
                        <strong class="bold-text-115"
                          >{CEO?.attributes?.name}</strong
                        >
                      </p><p class="paragraph-3 p3">{CEO?.attributes?.role}</p>
                    </div>
                  </div>
                </div><div
                  aria-live="off"
                  aria-atomic="true"
                  class="w-slider-aria-label"
                  data-wf-ignore=""
                >
                </div>
              </div><div class="hidden-on-desktop w-slider-nav w-round">
                <div
                  class="w-slider-dot w-active"
                  data-wf-ignore=""
                  aria-label="Show slide 1 of 1"
                  aria-pressed="true"
                  role="button"
                  tabindex="0"
                  style="margin-left: 3px; margin-right: 3px;"
                >
                </div>
              </div>
            </div>
          </div><div
            id="w-node-_8dbe7f0a-8919-6352-7962-686c6654b93e-4ea0e9ec"
            data-w-id="8dbe7f0a-8919-6352-7962-686c6654b93e"
            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
            class="inner-container testimonials-slider-main-content"
          >
            <div class="text-center-tablet">
              <div class="inner-container _400px---tablet center">
                <div class="inner-container _350px---mbl center">
                  <div class="mg-bottom-10px">
                    <div class="text-418 bold text-uppercase color-accent-1">
                      {CEO?.attributes?.role}
                    </div>
                  </div>
                </div>
              </div>

              <Markdown value={md?.render(CEO?.attributes?.body)} />

              <div class="divider-5 _72px bg-neutral-400"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
