---
// export const prerender = true;
import fetchApi from "../lib/strapi";

// Import Custom Components
import Layout from "../layouts/Layout.astro";

const urlParamsObject = {
  populate: {
    media: {
      populate: "*",
    },
    category: {
      populate: "*",
    },
  },
};

const pageUrlParamsObject = {
  populate: {
    heading: {
      populate: "*",
    },
  },
};

const locale = Astro.cookies.get("locale")?.value;
const servicesData: any = await fetchApi<any[]>({
  endpoint: "services", // the content type to fetch
  query: urlParamsObject, // the key to unwrap the response
  locale: locale,
});

const servicePageData: any = await fetchApi<any[]>({
  endpoint: "service-page", // the content type to fetch
  query: pageUrlParamsObject, // the key to unwrap the response
  locale: locale,
});

console.log(servicePageData, "servicePageData")
---

<Layout title="Our Services">
  <section class="section hero v7 new743">
    <div class="container-default newcont5 w-container">
      <div class="z-index-1">
        <div class="mg-bottom-32px">
          <div class="w-layout-grid grid-2-columns title-and-btn newgri">
            <div
              id="w-node-a19b8cd7-7550-eafd-cbe5-3e30e31dce65-e31dce60"
              class="text-center---tablet"
            >
              <h1 class="display-1 mg-bottom-12px">
                {servicePageData?.attributes?.heading?.title}
              </h1><p class="mg-bottom-0">
                {servicePageData?.attributes?.heading?.desc}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        data-w-id="a19b8cd7-7550-eafd-cbe5-3e30e31dce8a"
        class="w-dyn-list"
        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
      >
        <div role="list" class="grid-3-columns gap-row-32px w-dyn-items">
          {
            servicesData?.map((item: any, index: number) => (
              <Fragment key={index}>
                <div role="listitem" class="w-dyn-item">
                  <a
                    data-w-id="4ef36aa9-69ab-043c-c626-baafa095a585"
                    href={`/services/${item.attributes.slug}`}
                    class="card card-team-member w-inline-block"
                  >
                    <>
                      <div class="card-picture card-team-member---image">
                        <div
                          class="lottie-animation"
                          data-w-id="ecc40607-317a-e6f6-9d86-6e59c07a54fb"
                          data-animation-type="lottie"
                          data-src="/documents/Animation---1707959104600.json"
                          data-loop="1"
                          data-direction="1"
                          data-autoplay="1"
                          data-is-ix2-target="0"
                          data-renderer="svg"
                          data-default-duration="9.366666666666667"
                          data-duration="0"
                        />
                      </div>
                      <div class="pd---content-inside-card card-team-member---content">
                        <>
                          <div class="flex-horizontal space-between align-top">
                            <>
                              <div class="inner-container _350px---mbl">
                                <>
                                  <h2 class="mg-bottom-6px display-4">
                                    {item.attributes.title}
                                  </h2>
                                  <p class="paragraph-5 paragraph-445">
                                    {item.attributes.desc}
                                  </p>
                                </>
                              </div>
                              <div class="mg-left-6px">
                                <div
                                  class="btn-circle-wrapper"
                                  style="color: rgb(0, 64, 79); border-color: rgb(0, 64, 79); background-color: rgb(255, 255, 255);"
                                >
                                  <div class="line-rounded-icon">
                                    <strong></strong>
                                  </div>
                                </div>
                              </div>
                            </>
                          </div>

                          <div class="flex-horizontal start flex-wrap---gap-12px">
                            <>
                              <div class="badge-v1">
                                <div>{item.attributes.workingDay}</div>
                              </div>
                              <div class="badge-v1">{item.attributes.type}</div>
                            </>
                          </div>
                        </>
                      </div>
                    </>
                  </a>
                </div>
              </Fragment>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
