---
interface Props {
  articles: any;
}

const { articles } = Astro.props;
---

<section class="section pd-80px pd-top-0px">
  <div class={`container-default w-container ${locale == "en" ? "direction-ltr" : ""}`}>
    <div>
      <div
        data-w-id="1ad4f376-d81e-cf8b-ad78-7ed163c54c20"
        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
      >
        <div class="w-layout-grid grid-2-columns title-and-btn keep---tablet">
          <h2 class="display-2 mg-bottom-0">Related articles</h2><a
            href="/blog-pages/blog-v1"
            class="btn-secondary w-button">Browse all articles</a
          >
        </div>
      </div>

      <div
        data-w-id="040ed093-3a73-0bab-b15b-74791063b2a3"
        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
        class="height-100 w-dyn-list"
      >
        <div
          role="list"
          class="grid-3-columns gap-row-32px _1-col-tablet w-dyn-items"
        >
          {
            articles?.map((item: any, index: number) => (
              <div role="listitem" class="height-100 w-dyn-item">
                <a
                  data-w-id="040ed093-3a73-0bab-b15b-74791063b2a6"
                  href={`/media-center/${item?.attributes?.slug}`}
                  class="card card-blog _3-posts-item w-inline-block"
                >
                  <div class="card-picture image-wrapper---br-top _3-posts-item">
                    <>
                      <img
                        src={`${item?.attributes?.media?.image?.data?.attributes?.url}`}
                        alt="Nurturing a Greener Tomorrow in Rural Communities"
                        sizes="(max-width: 767px) 90vw, (max-width: 991px) 47vw, (max-width: 1439px) 30vw, 386.3999938964844px"
                        src={`${item?.attributes?.media?.image?.data?.attributes?.url}`}
                        class="card-image"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1.001) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                      />
                      <div class="blog-card-badge-wrapper-top">
                        <div class="badge-primary small white">
                          <div class="flex-horizontal start gap-4px">
                            <>
                              <img
                                src="https://assets-global.website-files.com/65a12e04c59a1723c86ea149/65a12e04c59a1723c86ea367_icon-tips-localfinder-x-webflow-template.svg"
                                loading="eager"
                                alt="Tips"
                              />
                              <div class="color-neutral-800">Tips</div>
                            </>
                          </div>
                        </div>
                      </div>
                    </>
                  </div>

                  <div class="pd---content-inside-card pd-blog-wrapper _3-posts-item">
                    <>
                      <div class="inner-container _350px---mbl">
                        <h3
                          class="card-title heading-h4-size mg-bottom-24px"
                          style="color: rgb(0, 45, 51);"
                        >
                          {item?.attributes?.title}
                        </h3>
                      </div>
                      <div class="flex-horizontal space-between">
                        <>
                          <div class="text-100 medium color-neutral-800">
                            {item?.attributes?.date}
                          </div>
                          <div
                            data-w-id="040ed093-3a73-0bab-b15b-74791063b2b3"
                            class="card-link"
                            style="color: rgb(0, 64, 79);"
                          >
                            <>
                              <div class="link-text">Read more</div>
                              <div
                                class="line-rounded-icon card-arrow-right"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                              >
                                
                              </div>
                            </>
                          </div>
                        </>
                      </div>
                    </>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
