---
import fetchApi from "../../../lib/strapi";
import type Heading from "../../../interfaces/Heading";

interface Props {
  fields: {
    heading: Heading;
    categoryText: string;
    positionText: string;
    applyText: string;
    emptyItemText: string;
  };
}

const {
  fields: { heading, categoryText, positionText, applyText, emptyItemText },
} = Astro.props;

const urlParamsObject = {
  populate: {
    job_category: {
      populate: "*",
    },
    applyButton: {
      populate: "*",
    },
  },
};

const locale = Astro.cookies.get("locale")?.value;

const jobData: any = await fetchApi<any[]>({
  endpoint: "jobs", // the content type to fetch
  query: urlParamsObject, // the key to unwrap the response
  locale: locale,
});

console.log(jobData, "jobData");
---

<section id="careers" class="section-15 pd-200px sect33">
  <div class="container-default-7 w-container">
    <div class="inner-container _500px---mbl center">
      <div
        data-w-id="12c2dd47-3cd5-b6e2-fae2-035b4ba5cc26"
        class="career-item-grid-header"
        style="opacity: 1;"
      >
        <div class="w-layout-grid grid-3-columns-3 career-item-grid">
          <div
            id="w-node-_12c2dd47-3cd5-b6e2-fae2-035b4ba5cc28-4ba5cc14"
            class="heading-h5-size-2"
          >
            <strong class="bold-text-102">
              {categoryText}
            </strong>
          </div>

          <div
            id="w-node-_12c2dd47-3cd5-b6e2-fae2-035b4ba5cc2a-4ba5cc14"
            class="inner-container _484px center width-100 _100---mbl"
          >
            <div class="heading-h5-size-2">
              <strong class="bold-text-103">
                {positionText}
              </strong>
            </div>
          </div>

          <div
            id="w-node-_12c2dd47-3cd5-b6e2-fae2-035b4ba5cc2d-4ba5cc14"
            class="heading-h5-size-2"
            style="justify-self: start;"
          >
            <strong class="bold-text-104">
              {applyText}
            </strong>
          </div>
        </div>
      </div>

      <div
        data-w-id="12c2dd47-3cd5-b6e2-fae2-035b4ba5cc2f"
        class="collection-list-wrapper-3 w-dyn-list"
        style="opacity: 1;"
      >
        <div role="list" class="collection-list-12 collection22 w-dyn-items">
          {
            jobData?.map((item: any) => (
              <div role="listitem" class="career-item w-dyn-item">
                <div class="w-layout-grid grid-3-columns-3 career-item-grid">
                  <>
                    <div
                      id="w-node-_12c2dd47-3cd5-b6e2-fae2-035b4ba5cc33-4ba5cc14"
                      class="flex-horizontal-3 align-center children-wrap"
                    >
                      <>
                        <div class="heading-h3-size-2">
                          <strong>
                            {
                              item?.attributes?.job_category?.data?.attributes
                                ?.title
                            }
                          </strong>
                        </div>
                      </>
                    </div>

                    <div
                      id="w-node-_12c2dd47-3cd5-b6e2-fae2-035b4ba5cc3a-4ba5cc14"
                      class="inner-container _484px center width-100 _100---mbl"
                    >
                      <>
                        <h3 class="heading-h3-size-2 mg-bottom-10px">
                          {item?.attributes?.title}
                        </h3>
                        <p class="mg-bottom-32px-6">
                          <strong class="bold-text-3">
                            {item?.attributes?.desc}
                          </strong>
                        </p>
                        <div class="career-item-details">
                          <>
                            <div class="text-414 medium color-neutral-800">
                              <strong class="bold-text-4">
                                {item?.attributes?.type}
                              </strong>
                            </div>

                            <div class="divider-details" />

                            <div class="text-414 medium color-neutral-800">
                              <strong class="bold-text-4">
                                {item?.attributes?.extra}
                              </strong>
                            </div>
                          </>
                        </div>
                      </>
                    </div>

                    <div
                      id="w-node-_12c2dd47-3cd5-b6e2-fae2-035b4ba5cc47-4ba5cc14"
                      class="career-item-button"
                    >
                      <div
                        id="w-node-_12c2dd47-3cd5-b6e2-fae2-035b4ba5cc48-4ba5cc14"
                        class="buttons-row-2"
                      >
                        <a
                          href={item?.attributes?.applyButton?.value}
                          class="btn-primary-7 width-100---mbl w-button"
                        >
                          {item?.attributes?.applyButton?.title}
                        </a>
                      </div>
                    </div>
                  </>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
