---
import fetchApi from "../../lib/strapi";
import type Link from "../../interfaces/Link";
import LoginButton from "./partials/LoginButton";
import LanguageButton from "./partials/LanguageButton";

const urlParamsObject = {
  populate: {
    logo: {
      populate: "*",
    },
    image: {
      populate: "*",
    },
    menu: {
      populate: {
        subMenu: {
          populate: "*",
        },
      },
    },
  },
};

const locale = Astro.cookies.get("locale")?.value;

const headerData: any = await fetchApi<any[]>({
  endpoint: "header", // the content type to fetch
  query: urlParamsObject, // the key to unwrap the response
  locale: locale,
});

const $isLoggedIn = Astro.cookies.get("reef_token")?.value;
---

<div
  data-w-id="3e4eae5f-c9fd-c051-dc9f-9317b4043bae"
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="header-wrapper header-v1 w-nav"
  style="opacity: 1;"
>
  <div class="div-block-15">
    <div class="container-default w-container">
      <div class="header-content-wrapper grid-3-col">
        <a href="/" class="header-logo-link w-nav-brand" aria-label="home">
          <img
            src="/images/Untitled-design-40.png"
            loading="lazy"
            width="54"
            alt=""
            class="image-5 phoneim"
          />

          <img
            src={`${headerData?.attributes?.logo?.image?.data?.attributes?.url}`}
            width="198"
            alt=""
            class="image-5 desktopim"
          />
        </a>

        <div class="show-in-tablet">
          <nav role="navigation" class="header-nav-menu-wrapper w-nav-menu">
            <ul role="list" class="header-nav-menu-list">
              {
                headerData?.attributes?.menu.map((item: any, index: number) => (
                  <Fragment key={index}>
                    <li class="header-nav-list-item middle">
                      {item?.subMenu?.length > 0 ? (
                        <div
                          data-hover="true"
                          data-delay="0"
                          data-w-id="fae87ae8-8cb9-e266-bef5-008f32fa3e7e"
                          class="dropdown-wrapper w-dropdown"
                        >
                          <div class="dropdown-toggle w-dropdown-toggle">
                            <div class="title-dropdown">{item.title}</div>
                            <div class="line-rounded-icon dropdown-arrow">
                              
                            </div>
                          </div>
                          <nav class="dropdown-column-wrapper w-dropdown-list">
                            <div class="dropdown-pd dropdown-card">
                              <div class="w-layout-grid grid-2-columns header-dropdown-grid-2-col">
                                <div>
                                  <div class="w-layout-grid grid-3-columns header-dropdown-grid-3-col">
                                    <ul
                                      id="w-node-bf5e5a5a-22b4-30d1-3cdf-41da9f9560dc-b4043bae"
                                      role="list"
                                      class="dropdown-list"
                                    >
                                      {item?.subMenu.map(
                                        (subItem: Link, subIndex: number) => (
                                          <Fragment key={subIndex}>
                                            <li class="dropdown-list-item">
                                              <a
                                                href={subItem.value}
                                                class="dropdown-link w-dropdown-link"
                                              >
                                                {subItem.title}
                                              </a>
                                            </li>
                                          </Fragment>
                                        )
                                      )}
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </nav>
                        </div>
                      ) : (
                        <a
                          href={`${item.value}`}
                          class="header-nav-link w-nav-link"
                        >
                          {item.title}
                        </a>
                      )}
                    </li>
                  </Fragment>
                ))
              }

              <li class="header-nav-list-item show-in-tablet header-buttons">
                <LanguageButton client:load />
              </li>
            </ul>
          </nav>
        </div>

        <div
          id="w-node-fae87ae8-8cb9-e266-bef5-008f32fa3e2a-b4043bae"
          class="header-right-side"
        >
          <div class="show-in-tablet"></div><div
            class="search-form-wrapper newser"
          >
            <div
              data-w-id="b14a4fd2-962f-3efa-33e2-23ffad9f2436"
              class="open-icon"
              style="opacity: 1;"
            >
              <img
                src="https://assets-global.website-files.com/5adde2936c488bb7fe8f7e40/5adde2936c488b3c628f7e4f_magnifying-glass%20(2).svg"
                alt=""
                class="search-icon"
              />
            </div>
   
            <form
              action="/search"
              class={`search-form w-form ${locale == "en" ? "direction-ltr" : ""}`}
              style="opacity: 0; display: none;"
            >
            <input
              class={`search-input w-input ${locale == "en" ? "direction-ltr" : ""}`}
              maxlength="256"
              name="query"
              placeholder={headerData?.attributes?.searchText}
              type="search"
              id="search-Header"
              required=""
            />
            
              <input type="submit" class="search-button w-button" value="" />
            </form>
            
            <div
              data-w-id="b14a4fd2-962f-3efa-33e2-23ffad9f243b"
              class="close-icon"
              style="opacity: 0; display: none;"
            >
              <img
                src="https://assets-global.website-files.com/65e9eb27ad372f914ea0e9a7/65e9eb27ad372f914ea0ed51_Black%20Close%20X.svg"
                alt=""
                class="x-icon"
              />
            </div>
          </div
          
          >
          
          <LoginButton
          locale={locale}
          logoText={headerData?.attributes?.loginButtonText}
          isLoggedIn={$isLoggedIn}
          client:load
        />

        <LanguageButton client:load />
          
          <div
            class="hamburger-menu-wrapper w-nav-button"
            style="-webkit-user-select: text;"
            aria-label="menu"
            role="button"
            tabindex="0"
            aria-controls="w-nav-overlay-0"
            aria-haspopup="menu"
            aria-expanded="false"
          >
            <div
              class="hamburger-menu-bar top"
              style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            >
            </div><div
              class="hamburger-menu-bar bottom"
              style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="divider header-divider"></div><div
      class="header-bottom-wrapper hidden-on-tablet"
    >
      <div class="container-default w-container">
        <div class={`header-bottom ${locale == "en" ? "direction-ltr" : ""}`}>
          <div class="header-nav-menu-flex">
            <ul role="list" class="header-nav-menu-list">
              {
                headerData?.attributes?.menu.map((item: any, index: number) => (
                  <Fragment key={index}>
                    <li class="header-nav-list-item middle">
                      {item?.subMenu?.length > 0 ? (
                        <a
                          href={`${item.value}`}
                          class="dropdown-wrapper w-dropdown header-nav-link"
                        >
                          <div class="dropdown-toggle w-dropdown-toggle">
                            <div class="title-dropdown">{item.title}</div>
                            
                            <div class={`line-rounded-icon dropdown-arrow ${locale == "ar" ? "mr-2" : ""}`}><strong></strong></div>
                         
                          </div>
                        </a>

                
                          <nav class="dropdown-column-wrapper w-dropdown-list">
                            <div class="dropdown-pd dropdown-card">
                              <div class="w-layout-grid grid-3-columns header-dropdown-grid-3-col">
                                <ul
                                  id="w-node-bf5e5a5a-22b4-30d1-3cdf-41da9f9560dc-b4043bae"
                                  role="list"
                                  class="dropdown-list"
                                >
                                  {item?.subMenu.map(
                                    (subItem: Link, subIndex: number) => (
                                      <Fragment key={subIndex}>
                                        <li class="dropdown-list-item">
                                          <a
                                            href={subItem.value}
                                            class="dropdown-link w-dropdown-link"
                                          >
                                            {subItem.title}
                                          </a>
                                        </li>
                                      </Fragment>
                                    )
                                  )}
                                </ul>
                              </div>
                            </div>
                          </nav>
                      ) : (
                        <a
                          href={`${item.value}`}
                          class="header-nav-link w-nav-link"
                        >
                          {item.title}
                        </a>
                      )}
                    </li>
                  </Fragment>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>